
html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#resultBox {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 65%;
  background-color: white;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 99;
  display: none;
  overflow: hidden;
}

#content {
  display: flex;
  align-items: stretch;
}

#staticMap {
  width: 50%;
  border-right: 1px solid #ccc;
  object-fit: cover;
}

#info {
  flex: 1;
  padding: 15px;
}

#info p {
  margin: 8px 0;
  font-size: 16px;
}

#toggleBtn, #reopenBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 6px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

#reopenBtn {
  left: 20px;
  display: none;
}


/* Nút ẩn bên trong khung */
#toggleBtn {
  left: calc(65% + 10px); /* Đặt bên phải của resultBox */
}


  